{% extends 'base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      {{ message }}
    </p>
  {% endfor %}

{% endif %}
    <form action="/adduser/" method="POST">
        {% csrf_token %}
        {{ new_form.as_p }}
        <input type="submit" value="Add number"/>
    </form>
    <form action="/remove/" method="POST">
        {% csrf_token %}
        {{ remove_form.as_p }}
        <input type="submit" value="Remove number"/>
    </form>
    {% if user.is_authenticated %}
    <form action="/send/" method="POST">
        {% csrf_token %}
        {% for field in message_form %}
        <p>{{ field.label_tag }}<br></br> {{ field }}</p>
        {% endfor %}
        <input type="submit" value="Send to Users"/>
    </form>
    {% else %}
    <form action="/login" method="GET">
        <input type="submit" value="Log In"/>
    </form>
    {% endif %}

{% endblock %}