{% extends 'base.html' %}

{% block content %}

    <form action="/adduser/" method="POST">
        {% csrf_token %}
        {{ new_form.as_p }}
        <input type="submit" value="Add number"/>
    </form>
    <form action="/remove/" method="POST">
        {% csrf_token %}
        {{ remove_form.as_p }}
        <input type="submit" value="Remove number"/>
    </form>
    <form action="/send/" method="POST">
        {% csrf_token %}
        <label> Send Message to Users: </label>
        <input type="submit" value="Hello Users!"/>
    </form>

{% endblock %}