{% extends 'base.html' %}
{% block content %}

<div class="col-md-4">
  <h2>Join Our Community</h2>
  <p>It's easy to become a part of the Global Heartbeat! Sign up now to receive periodic messages about issues that are relevant to all of us.</p>
  <p><a class="btn btn-default" href="/register" role="button">Register &raquo;</a></p>
</div>
<div class="col-md-4">
  <h2>Share Your Thoughts</h2>
  <p>Do you have something to say? Do you have a topic you'd like us to address? Feel free to reach out!</p>
  <p><a class="btn btn-default" href="/contactus" role="button">Contact Us &raquo;</a></p>
</div>
<div class="col-md-4">
  <h2>See Past Messages</h2>
  <p>We keep a catalog of every message we've sent. Feel free to explore our history while you consider being a part of our future!</p>
  <p><a class="btn btn-default" href="/history" role="button">History &raquo;</a></p>
</div>


{% endblock %}